body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(228, 167, 0);
    color: white;
    font-family: sans-serif;
    font-size:larger;

    display: flex;
    justify-content: center;
}

#container{

    /* margin-left: 35%; */
    margin-top: 5vh;

    background-color: rgb(43, 43, 43);
    border-radius: 15px;

    width: 23%;
    min-width: 400px;
    max-width: 500px;

    height: 80vh;
    min-height: 600px;

    padding: 1em;

    display: flex;
    flex-direction: column;
    align-items: center;
}
#display{
    width:100%;
    height: 50%;
    background-color: black;
    border-radius: 5px;

    display: flex;
    justify-content: end;
    align-items: flex-end;
    
}
#display-text{

    margin: 2rem;
    font-size: xx-large;
}
#buttons{
    display: flex;
    /* background-color: rgb(129, 129, 129); */
    justify-content: space-between;

    width: 90%;
    /* width: auto; */
    height:50%;
    padding: 5%;
}

#numeric-buttons{
    width:75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.num{
    font-size: larger;
}
.cross{
    border: 1px solid white;
    
}
#row{
    display: flex;
    justify-content: space-between;
}

#functional-buttons{
    width:20%;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:flex-end;
}
.fun, .num{
    width:3em;
    height: 3em;
    border-radius: 50%;
    /* background-color: rgb(184, 184, 184); */
    cursor: pointer;


    -webkit-user-select: none; 
    -ms-user-select: none;
    user-select: none; 


    display: flex;
    justify-content: center;
    align-items: center;

    /* margin: 20px; */

}

.fun{
    width: 3.5em;
    height: 3.5em;
    background-color: rgb(61, 61, 61);
}
.equal{
    background-color: rgb(223, 170, 26);
}


